# Enable URL rewriting
RewriteEngine On

# If the request is to an existing file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php [QSA,L]

# Otherwise, route to index.php
RewriteRule ^ index.php [QSA,L]