a:hover {
  text-decoration: none!important;
  cursor: pointer!important;
}

.article-link {
  margin: 10px 0px!important;
}

.pager li .active-link {
  background: rgba(0, 0, 0, 0.1)!important;
}

.form-control.pwd {
  background: black !important;
  width: 30%;
}

.dropdown-menu {
  background-color: #101010!important;
  border-radius: 10px;
}

.navbar-search {
  margin: 8px 0 0 0!important;
  padding: 0 0 0 0!important;
}

.forgot {
  font-size: 1.25rem;
  margin: 10px 0 0 0!important;
}

.article-video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.article-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news-section {
  margin: 40px 0px; 
}

.news-section-left {
  padding-right: 0px!important;
}

.news-section-right {
  padding-left: 0px!important;
}

.news-image {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.news-image:hover {
  opacity: 0.65;
  cursor: pointer;
}

.news-title {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

.news-author-date {
  margin-top: 15px!important;
  margin-bottom: 20px!important;
}

.news-description {
  font-size: 1.5rem;
}

.news-title a:hover, .news-description a:hover {
  color: red;
}

.newsletter {
  margin-top: 40px;
}

.newsletter-section-title, .video-section-title, .album-section-title, .podcast-section-title {
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.video-box {
  position: relative;
}

.video-play-button, .podcast-play-button {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 42.5%;
  top: 30%;
}

.video-image, .podcast-image {
  border-radius: 10px;
  border: 2px solid grey;
  max-width: 100%;
  height: auto;
}

.video-text, .podcast-text {
  margin: 10px 0 0 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 1px 1px 2px black, 0 0 5px grey, 0 0 3px red;
}

.album-image-box {
  padding-right: 0!important;
}

.album-image {
  height: 125px;
  width: auto;
  background-color: black;
}

.video-text:hover, .podcast-text:hover {
  color: rgba(255, 244, 244, 0.8);
}

.video-image:hover, .podcast-image:hover, .album-image:hover  {
  opacity: 0.65;
  cursor: pointer;
}

.video-play-button:hover, .podcast-play-button:hover {
  cursor: pointer;
}

.album-text {
  padding: 0 0 0 10px;
}

.album-band-name, .album-title {
  margin: 0 0 5px 0;
}

.album-title {
  padding-bottom: 10px;
  margin-right: 15px;
  border-bottom: 1px solid lightgray;
}

.album-description {
  margin: 10px 0 5px 0;
}

.album-band-name:hover {
  color: red;
  cursor: pointer;
}

.footer-left, .footer-right {
  margin-bottom: 0px!important;
  display: inline-block!important;

}

.footer-left {
  margin-right: 10px!important;
}

.footer-right {
  margin-left: 10px!important;
}