a:hover {
  text-decoration: none!important;
  cursor: pointer!important;
}

.panel-heading-blue {
  color: white;
  background-color: #337ab7;
}

.panel-heading-blue:hover {
  color: white;
  background-color: #23527c;
}

.panel-heading-red:hover {
  color: white;
  background-color: #b52b27;
}

.panel-heading-yellow:hover {
  color: white;
  background-color: #df8a13;
}

.panel-heading-green:hover {
  color: white;
  background-color: #3d8b3d;
}

#load-screen {
  background: url(../images/header-back.png);
  position: fixed;
  z-index: 10000;
  top: 0px;
  width: 100%;
  height: 1600px;
}

#loading {
  width: 500px;
  height: 500px;
  margin: 10% auto;
  background: url(../images/loader.gif);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.category-name-field {
  padding: 0px 0px 0px 0px!important;
}

.profile-header, .category-header, .comment-header {
  position: relative;
}

.profile-header-dropdown, .comment-header-dropdown {
  position: absolute;
  right: 0px;
  bottom: 10px;
  font-size: 2rem;
  margin: 0px 0px 0px 0px!important;
}

.profile-link {
  margin-top: 5px!important;
}

.category-header-input, .category-header-button {
  position: absolute;
}

.category-header-input {
  right: 215px;
  bottom: 0px;
}

.category-header-button {
  right: 0px;
  bottom: 0px;
}

.category-header > .col-md-6 > h1 {
  margin-bottom: 0px!important;
}

.category-header-input > .form-group, .category-header-button > .form-group {
  margin: 0px 0px 0px 0px!important;
}

.category-hr {
  margin-top: 10px!important;
}